<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}</title>
	<style>
		
	</style>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<nav>
			<span>Experience</span>
			<a href="/branding">Branding</a>
			<a href="/clients">Clients</a>
			<a href="/resume">Resume</a>
		</nav>
		<nav>
			<span>Experiments</span>
			<a href="/feed">Feed</a>
			<a href="/grid">Grid</a>
		</nav>
		<a href="/media">Media</a>
	</nav>
	<nav>
		<span>Contact</span>
		<a href="mailto:tom@technomad.media?Subject=Work|from wommy.io">tom@technomad.media</a>
		<a href="facebook.com/froggie92">facebook</a>
		<a href="twitter.com/froggie92">twitter</a>
		<a href="plus.google.com/u/0/118102255716845472363/posts">google+</a>
		<a href="instagram.com/wommytilliams">instagram</a>
	</nav>
	<main>
		{{content}}
	</main>
	<script></script>
</body>
</html>